<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Databse</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">

    </head>


  <body>
     

     <div class="topnav">
      <a href="/home/">Main Menu</a>  
      <a href="/libraryMember/">Library Members</a>
      <a href="/order/">Orders</a>
      <a href="/catalogItem/">Catalog Items</a>
      <a href="/item/"=>Item Data</a>
      <a href="/authorRecord/"=>Author Records</a>
    </div>


      {{{body}}}
   
  </body>
  </html>