<html>
<head>

   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
    </head>


  <body>
     

     <div class="topnav">
      <a href="/home/">Main Menu</a>  
      <a href="/libraryMember/">Library Members</a>
      <a href="/memberOrders/"=>Member-Orders</a>
      <a href="/order/">Orders</a>
      <a href="/catalogItem/">Catalog Items</a>
      <a href="/item/"=>Item Data</a>
      <a href="/authorItems/"=>Author-Items</a>
      <a href="/authorRecord/"=>Author Records</a>
      
      
    </div>


      {{{body}}}
   
  </body>
  </html>