<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Library Database</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>

</body>

</html>


<h1>Library Database: Use this site to manage database</h1>
