
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Databse</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">

    </head>


  <body>
   
    <h1> Library Members:  Add, Select, Delete, Edit and Search Library Members</h1>

    <fieldset class = "fieldAdd">
        <h3>Add Library Member to Database:</h3>
  
        <div>
          <label>First Name:
              <input type="text" size="30" maxlength="100">
          </label>
        </div>
  
        <div>
          <label>Last Name:
              <input type="text" size="30" maxlength="100">
          </label>
        </div>
        <button type="button">Submit</button>
      </fieldset>
      

   <fieldset class = "fieldSearch">
    <div>
        <h3>Search Members:  </h3>
      <label>First Name:  <input type="text" size="30" maxlength="100">
      </label>
      <label>Last Name:  <input type="text" size="30" maxlength="100">
      </label>


      <button type="button">Submit</button>
    </div>
      <p>

  <h3>All Members/ Search Results:</h3>
    

  </div><p>
      <button type="button">Clear Search Results (Show All Members)</button>
    </fieldset>

<h2>Results</h2>
           {{#each member}}
			{{> member_data}}
			<p></p>
		{{/each}}
		